@use 'functions';

// Globals
:root {
  // Colors
  --bg-color: #999999;
  --dark-gray: #121212;
  --text-color: #ffffff;
  --primary-js-on: #ebce81;
  --primary-js-off: #db82eb;
  --secondary: #81ebca;
  // Layout
  --top-bar-height: 150px;
  --grid-padding: 10px; // For container around grid + grid items
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.4;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
h1 {
  font-size: functions.toRem(36);
}
h2 {
  font-size: functions.toRem(32);
}
h3 {
  font-size: functions.toRem(28);
}
h4 {
  font-size: functions.toRem(24);
}
h5 {
  font-size: functions.toRem(20);
}
h6 {
  font-size: functions.toRem(16);
}

// A helper function to create truncate classes for 1, 2, or 3 lines of text
@for $i from 1 through 3 {
  .truncate-#{$i} {
    display: -webkit-box;
    -webkit-line-clamp: $i;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
